body {
    background-color: black;
}
h1.header {
    text-align: center;
    position: relative;
    left: 10px;
    background-color: white;
    color: blue;
    /* ancho */
    width: 150px;
    /* largo */
    height: 40px;
}
img.stitch1 {
    position: relative;
    left: 10px;
}
p.a {
    color: white;
}
h2.footer {
    color: red;
}